@import "../../assets/styles/variables";

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: $head-blue !important;
  color: $white;
  font-family: Lato;

  .navbar-brand {
    margin-left: 50px;
  }

  .collapse {
    height: 40px;
    justify-content: flex-end;
  }

  form {
    display: flex;
    align-items: center;
    margin-right: 100px;

    .form-group{
      margin-bottom: 0!important;
    }

    button {
      height: 39px;
      margin-left: 20px;
    }
  }
}
