@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "assets/styles/variables";

html, body {
  height: 100%;
}
body {
  overflow: hidden;
  background: $background-grey;
}

