$item-hover: #f0ffff;
$blue: #7070e0;
$background-grey: #F5F5F5;
$grey: #ccc;
$hr-grey: #a7a7a7;
$head-blue: #283E4A;
$white: #ffffff;
$comment-background: #f3f6f8;
$textarea-grey: #283e4a59;
$text-color: #454545;
