@import "../../assets/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin-top: 52px;
  color: $text-color;
  font-family: Lato;

  .loader {
    margin-top: 100px;
  }

  .repo-wrapper {
    margin-top: 30px;
    flex-direction: column;
    width: 60%;
    max-width: 890px;
    align-items: center;
    background: $white;
    padding: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);

    .title-container {
      .title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: $text-color;
      }
    }

    .main-container {
      display: flex;

      .image-container {
        width: 30%;

        img {
          max-width: 85%;
        }
      }

      .text-container {
        width: 70%;

        p {
          padding: 0 20px;
        }
      }

    }

    .additional-info-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    hr {
      width: 100%;
      border-top: 1px solid $hr-grey;
    }

    .date {
      text-align: right;
      & > p {
        font-size: 12px;
        margin: 5px;
      }
    }
  }

  .contributors-container {
    min-width: 300px;
    background: #f3f6f8;
    margin: 6px 0 2px 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    font-family: lato;
    padding: 9px;

    .contributor-data {
      display: flex;

      img {
        max-width: 70px;
      }
    }

    .contributor-head {
      position: relative;
      & >.contribution {
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 14px;
        opacity: 0.8;
      }
    }

    .author, .date {
      color: $head-blue;
      padding-left: 25px;
    }
  }

  .contributors-title {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 580px) {
  .repo-wrapper {
    width: 95% !important;
  }

  .image-container {
    img {
      max-width: 100% !important;
    }
  }
}
